<h1>Android Police News Scraper</h1>

<button class="btn btn-primary"><a href="/scrape">Scrape Now</a></button>

<div class="container">
    {{#each articles}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href={{this.link}} target="blank">{{this.title}}</a></h5>
            <span><small>{{this.author}}</small></span><span> - </span><span><small>{{this.timeStamp}}</small></span>
            <hr>
            <p class="card-text">{{this.snippet}}</p>
            <button class="btn btn-primary">Save Article</button>
        </div>
    </div>
    <br>
    {{/each}}
</div>